<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pet Index</title>
</head>
<body>
<h1 th:text="'List of Pets'">List of Pets...</h1>
<table>
    <thead>
    <tr>
        <th>Owner</th>
        <th>Pet type</th>
        <th>Birth date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pet : ${pets}">
        <td th:text="${pet?.owner}">1</td>
        <td th:text="${pet?.petType}">Joe</td>
        <td th:text="${pet?.birthDate}">Buck</td>
    </tr>
    </tbody>
</table>

</body>
</html>